@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-dark;
    @apply dark:bg-zinc-800 dark:text-zinc-50;
    font-family: "Inter", sans-serif;
  }

  body::-webkit-scrollbar {
    @apply w-4 bg-white;
    @apply dark:bg-zinc-900;
  }

  body::-webkit-scrollbar-thumb {
    @apply rounded bg-opacity-50 transition-all;
    @apply bg-zinc-300 hover:bg-zinc-400;
    @apply dark:bg-zinc-600 dark:hover:bg-zinc-300;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
  }

  *,
  :after,
  :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
  }

  .nav-menu-button {
    @apply font-medium text-xl text-zinc-500 hover:text-dark active:text-zinc-900;
    @apply dark:text-zinc-500 dark:hover:text-zinc-100 dark:active:text-white;
    @apply my-auto mx-auto;
  }

  .special-menu-button {
    @apply flex w-full border-2 justify-center rounded-full px-3 py-1 nav-menu-button focus:outline-none focus-visible:ring-2;
    @apply bg-white border-zinc-500 bg-opacity-20 hover:border-dark hover:bg-dark hover:text-white focus-visible:ring-white focus-visible:ring-opacity-75;
    @apply dark:bg-black dark:border-zinc-500 dark:bg-opacity-20 dark:hover:border-zinc-100 dark:focus-visible:ring-white dark:focus-visible:ring-opacity-75;
  }

  .dropdown-list::-webkit-scrollbar {
    @apply w-2 bg-zinc-100 rounded bg-opacity-5;
  }

  .dropdown-list::-webkit-scrollbar-thumb {
    @apply bg-zinc-100 rounded bg-opacity-10;
  }

  .focus-rose {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-rose-300;
  }

  .focus-zinc {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-zinc-500;
  }

  .thin-zinc-border {
    @apply border-zinc-300 dark:border-zinc-700 border-opacity-50 border;
  }

  .logo-full {
    stroke-dashoffset: 1155;
    animation: logoload 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  }

  @keyframes logoload {
    0% {
      stroke-dashoffset: 1155;
      stroke-width: 12px;
    }
    50% {
      stroke-dashoffset: 0;
      stroke-width: 4px;
    }
    100% {
      stroke-dashoffset: -1155;
      stroke-width: 12px;
    }
  }

  .logo-empty {
    stroke-dashoffset: 0;
  }

  .min-screen-height {
    /* 96px navbar height */
    /* 100px footer height */
    /* 16px main top margin */
    min-height: calc(100vh - 96px - 100px - 16px);
  }

  /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: rgb(255, 255, 255);
    box-shadow: 0 0 0px 1000px #18181b inset;
    transition: background-color 5000s ease-in-out 0s;
    color: white;
  }

  @media only screen and (max-width: theme(screens.md)) {
    .responsive-nav {
      @apply flex flex-col align-middle gap-5;
      @apply fixed top-0 right-0 h-full w-full;
      @apply pt-20 pb-6;
      @apply dark:bg-zinc-900 bg-zinc-50;
    }

    .nav-menu-button {
      @apply text-xl box-border w-full text-center py-3 my-0;
      @apply rounded-lg;
      @apply hover:bg-zinc-100 dark:hover:bg-zinc-800;
      @apply active:bg-rose-600 dark:active:bg-rose-900;
    }

    #profile-btn {
      @apply w-full text-center py-0 mt-auto bg-opacity-0 border-0;
    }

    .special-menu-button {
      @apply w-full h-full mx-0 py-4 hover:bg-zinc-700 rounded-lg border-0;
    }
  }
}
