@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-zinc-800 text-zinc-50;
    font-family: "Inter", sans-serif;
  }

  *,
  :after,
  :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
  }

  .nav-menu-button {
    @apply font-medium text-xl text-zinc-500 hover:text-zinc-100 active:text-white;
    @apply my-auto mx-auto;
  }

  .special-menu-button {
    @apply flex w-full justify-center rounded-full bg-black border-2 border-zinc-500 bg-opacity-20 px-3 py-1 nav-menu-button hover:border-zinc-100 focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75;
  }

  .dropdown-list::-webkit-scrollbar {
    @apply w-2 bg-zinc-100 rounded bg-opacity-5;
  }

  .dropdown-list::-webkit-scrollbar-thumb {
    @apply bg-zinc-100 rounded bg-opacity-10;
  }

  .focus-rose {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-rose-300;
  }

  .focus-zinc {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-zinc-500;
  }

  .thin-zinc-border {
    @apply border-zinc-700 border-opacity-50 border;
  }

  .logo-full {
    stroke-dashoffset: 1155;
    animation: logoload 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  }

  @keyframes logoload {
    0% {
      stroke-dashoffset: 1155;
      stroke-width: 12px;
    }
    50% {
      stroke-dashoffset: 0;
      stroke-width: 4px;
    }
    100% {
      stroke-dashoffset: -1155;
      stroke-width: 12px;
    }
  }

  .logo-empty {
    stroke-dashoffset: 0;
  }

  .min-screen-height {
    /* 96px navbar height */
    /* 100px footer height */
    /* 16px main top margin */
    min-height: calc(100vh - 96px - 100px - 16px);
  }

  @media only screen and (max-width: theme(screens.md)) {
    .responsive-nav {
      @apply flex flex-col align-middle gap-5;
      @apply fixed top-0 right-0 h-full w-full;
      @apply pt-32 pb-6;
      @apply bg-zinc-900;
    }

    .nav-menu-button {
      @apply text-xl box-border w-11/12 text-center py-3 my-0;
      @apply rounded-xl;
      @apply bg-zinc-800 border-zinc-700 border;
      @apply hover:bg-rose-900 active:bg-rose-800 hover:border-rose-500;
    }

    #profile-btn {
      @apply w-11/12 text-center py-0 mt-auto bg-opacity-0 border-0;
    }

    .special-menu-button {
      @apply w-full h-full mx-0 py-4 hover:bg-zinc-900;
    }
  }
}
